@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Six+Caps&display=swap');

* { box-sizing: border-box; }

body {
  background-image: url(images/black.JPG);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  margin: 0;
}

main {
  padding: 50px;
}


html {
  height: 100%;
}
